{
    "chmod": "0755",
    "main": "public/index.php",
    "output": "bin/redisdump.phar",

    "directories": ["src"],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["test", "tests"],
            "in": "vendor"
         }
    ],
    "stub": true
}